<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942335962386-bud315ttintgt3bilfkfhvgks4kck6sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942335962386-bud315ttintgt3bilfkfhvgks4kck6sl</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRYVHeBtWteeeE_hFyf5h-m9Kl0SOHBo</string>
	<key>GCM_SENDER_ID</key>
	<string>942335962386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatrooms</string>
	<key>PROJECT_ID</key>
	<string>chatrooms-e29fc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatrooms-e29fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942335962386:ios:de3b87f59634a5dab757cb</string>
</dict>
</plist>